{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ block "title" . }}{{ end }}</title>
        <meta charset="utf-8" />
        <style>
            body {
                margin: 0;
                margin-left: auto;
                margin-right: auto;
                font-family: Arial, Helvetica, sans-serif;
                max-width: 800px;
            }
        </style>
    </head>
    <body>
        {{ block "content" . }}{{ end }}
    </body>
</html>
{{ end }}